<div class="card">
    <div class="card-body">
        <div class="card-title Title-Card-Carousel">
            Cliente Frecuente
        </div>
        <div class="card-text">
            <ul class="list-unstyled Text-List">
                <li>
                    Documento de Identidad:
                    <span class="text-primary">71775642</span>
                </li>
                <li>
                    Record de compra:
                    <span class="text-primary">25 compras</span>
                </li>
                <li>
                    Primera compra realizada:
                    <span class="text-primary">21.9.2024 - 19:52:12 PM</span>
                </li>
                <li>
                    Última compra realizada:
                    <span class="text-primary">25.9.2024 - 12:53:14 PM</span>
                </li>
            </ul>
        </div>
    </div>
</div>