<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="img/logo.svg" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text Title-Head-1 text-color-custom-black">{{ appName }}</h4>
        </div>
        <div class="toggle-icon ms-auto"> <i class="bi bi-list"></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a [routerLink]="'/pages/dashboard'">
                <div class="parent-icon"><i class="bi bi-speedometer"></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li>
            <a [routerLink]="'/pages/tienda'">
                <div class="parent-icon"><i class="bi bi-shop"></i>
                </div>
                <div class="menu-title">Tienda</div>
            </a>
        </li>
        <li>
            <a [routerLink]="'pages/dashboard'">
                <div class="parent-icon"><i class="bi bi-columns-gap"></i>
                </div>
                <div class="menu-title">Secciones</div>
            </a>
        </li>
        <li>
            <a [routerLink]="'pages/dashboard'">
                <div class="parent-icon"><i class="bi bi-archive"></i>
                </div>
                <div class="menu-title">Productos</div>
            </a>
        </li>
        <li>
            <a [routerLink]="'pages/dashboard'">
                <div class="parent-icon"><i class="bi bi-person-lock"></i>
                </div>
                <div class="menu-title">Administración</div>
            </a>
        </li>
        <li>
            <a [routerLink]="'pages/dashboard'">
                <div class="parent-icon"><i class="lni lni-graph"></i>
                </div>
                <div class="menu-title">Reportes</div>
            </a>
        </li>
        <li>
            <a [routerLink]="'pages/dashboard'">
                <div class="parent-icon"><i class="bi bi-stars"></i>
                </div>
                <div class="menu-title">Más opciones</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</aside>
<!--end sidebar -->