<div class="card rounded-4 p-3">
  <div class="d-flex align-items-start mb-2">
    <div class="me-auto">
      <h6 class="mb-2 text-color-custom-black">{{ Title }}</h6>
      <h2 class="me-2">{{ Value }}</h2>
    </div>
    <div class="icon-wrapper" [style]="{'background-color': Color}">
      <i class="icon" [class]="Icon" [style]="{'color': lightenColor(Color, 50)}"></i>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <i class="bi bi-graph-up-arrow text-center" [class]="Positive ? 'text-success' : 'text-danger'">{{ Percentage }}%&nbsp;</i> <span class="text-color-custom-black">{{ Details }}</span>
  </div>
</div>