@if(images){
    <ngb-carousel>
        @for (image of images; track i; let i = $index) {
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="image.src" [alt]="image.name" class="img-fluid" />
                </div>
                @if (image.description){
                    <div class="carousel-caption">
                        <h3>image.name</h3>
                        <p>image.description</p>
                    </div>
                }
            </ng-template>
        }
    </ngb-carousel>
}